/*******************************
*  Reset style
********************************/
* {
    padding: 0;
    margin: 0;
}

body {
  
    line-height: 1.5;
 }

html {scroll-behavior: smooth;

}





:root {
    --purple: #800080;
    --black: #454545;
    --light-purple: #eabfff;
    --dark-grey: #ccc6c6;
    --white: #fff;
    --light-purple-2: 
}

.app {
    width: 100%;
    }
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.header {
    width: 100%;
    /* font-size: 2rem; */
    padding: 2rem 6rem;
    position: fixed;
    background-color: var(--purple);
    color: white;
    z-index: 1000;
    top: 0;
    left: 0;   
}

.links {
    display: flex;
    column-gap: 3rem;
}


.link-item {
    border-bottom: 1px solid transparent;
    list-style: none;
    text-transform: capitalize;
    font-size: 1.8rem;
}
.link-item :hover {
    border-bottom: 1px solid white;
}

.link:link,
.link:visited {
    text-decoration: none;
    padding: 1rem 1.2rem;
    color: var(--dark-grey);
}

.link:hover {
    color: var(--white);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile_links, .hamburger {
    display: none;
}
.hamburger > span {
    display: block;
    width: 1.72rem;
    height: 0.25rem;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 200000px;
}
.first_ham,
.second_ham,
.third_ham {
    transition: all 0.5s ease-in-out;
}
.first_ham.open {
    transform: rotate(45deg);
    transform-origin: 1px;
    transition: all 0.5s ease-in-out;
}
.second_ham.open {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.third_ham.open {
    transform: rotate(-45deg);
    transform-origin: -6px;
    transition: all 0.5s ease-in-out;
}
.transparent {
    opacity: 0;
}

.mobile_links > .link {
    color: #800080;
}
@media (max-width: 686px) {
    .links {
        display: none;
    }
    .mobile_links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110px;
        right: 30px;
        gap: 30px;
        padding: 20px 10px;
        align-items: center;
        background-color: #800080;
        width: 60%;
        border-radius: 20px;
        transition: all 0.5s ease-in-out;
        
    }
    .hamburger {
        display: block;
    }
}

/* tiktoksafiyyr.com */

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 3rem;
    background-color: var(--light-purple);
    color: var(--purple);
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    border-bottom: 1px solid var(--white);
}

.selected a {
    color: var(--white) !important;
}

.btn {
    outline: none;
    padding: 1rem 1.4rem;
    display: inline-block;
    font-size: 1.65rem;
    text-transform: capitalize;
    background-color: var(--light-purple);
    border: none;
    color: var(--purple);
    transition: background-color 100ms ease-in-out;
    font-family: inherit;
}

.btn-rounded {
    border-radius: .5rem;
}

.btn:hover {
    background-color: #cb0ddc
}

main {
    height: 10rem;
    margin-top: 10rem;
}

.banner {
    height: 55rem;
    overflow: hidden;
    position: relative;
}

.banner-img {
    max-width: 100%;
    object-fit: cover;
}

.carousel-moving {
    width: 300%;
    height: 90%;
    font-size: 2rem;
    position: absolute;
    animation: carousel 9s linear infinite;
    margin-top: 8rem;
}

.carousel-moving::after {
    content: "";
    display: block;
    clear: left;
}

.carousel-scr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     float: left; 
    width: calc(100% / 3);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light-purple);
}

@media (max-width: 686px) {
    .banner {
        text-align: center;
    }
    .carousel-scr p {
        font-size: 3px;
        /* width: 0; */
    }
}

.carousel-heading {
    font-size: 6rem;
    margin-bottom: 4rem;
}

.carousel-scr p {
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
}
.first-scr {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.85)), url(../img/logo.jpeg) ;
    background-size: cover;
    background-position: center;  
}
.second-scr{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.85)), url(../img/logo-3.jpeg);
    background-size: cover;
    background-position: center;
    
}
.third-scr {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.85)), url(../img/logo-2.jpeg);
    
}

/***************************
 * General setting section
*****************************/
.section {
    padding: 7.5rem 6rem;
    font-size: 2rem;
}

@media (max-width: 686px) {
    .section {
        padding: 5px;
    }
    .heading-secondary {
        text-align: center;
    }
}

/*****************************
* About us section
***************************/

.about-section {
    margin-top: 4rem;
}

.abt-sec {
  background-image: url(../img/WhatsApp\ Image\ 2024-01-11\ at\ 9.10.50\ AM.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 10rem;
}

.heading-secondary {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
    text-transform: capitalize;
    color: var(--purple);
}


 .abt-seco {
    color: white;
 }
 
.heading-secondary::after  {
    content: '';
    width: 5.5rem;
    height: .4rem;
    background-color: var(--purple);
    display: block;
    margin-top: .25rem;
}

.about {
    font-size: 2rem;
    color: var(--black);
}
 
.about-content {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}


 
.abt-wrt {
    color: var(--purple);
}

.abt-wrte {
    color: var(--white);
    text-shadow: #454545;
}

.about-writeup {
    width: 45%;
    text-align: justify;
    margin: 20px;
    position: relative;
    left: 15px;
    color: var(--black);
    font-size: 2.5rem;
}
 
.about-picture {
    width: 50rem;
    position: relative;
}
 
.first-frame{
    width: 45%;
    height: 30%;
    position: absolute;
    z-index: 10;
    transition: .5s ease-in;
}
 
.second-frame{
    width: 45%;
    position: absolute;
    right: 0;
    left: 11rem;
    top: 8rem;
    z-index: 10;
    transition: .5s ease-out;
}

@media (max-width: 686px) {
    .about-content {
        flex-direction: column;
    }
    .about-writeup {
        width: 100%;
        left: 0;
        text-align: center;
        font-size: 20px;
        margin: 0;
    }
    .abt-wrt {
        width: 100%;
    }
    .first-frame {
        position: static;
    }
    .second-frame {
        position: static;
    }
    .about-picture {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        /* margin-top: 30px; */
        gap: 20px;
    }
    .about-picture-frame {
        /* width: fit-content; */
        z-index: 0;
    }
    .first-frame {
        width: 250px;
    }
    .second-frame {
        width: 250px;
    }
    .services-content {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .first-frame {
        width: 45%;
    }
    .second-frame {
        width: 45%;
    }
    .about-picture {
        gap: 10px;
    }
}
 
.about-picture-frame:hover {
    /* transform: translate(2rem, 2rem);*/
    width: 50%;
    z-index: 200;
}
 
 
.about-img {
    max-width: 100%;
    color: var(--purple);
    border: 5px solid currentColor;
}


/*****************************
* Services section
***************************/

.services {
    background-color: var(--light-purple);
    margin-top: 10rem;
}

.ser-sec {
    background-image: url(../img/WhatsApp\ Image\ 2024-01-09\ at\ 7.25.43\ AM.jpeg);
    background-size: cover;
    background-position: center;
    height : 100vh;
    margin-top: 10rem;
}

.services-content {
    display: flex;
    column-gap: 5rem;
    color: var(--black);
}

.ser-cnt {
    color: black;
    font-size: 3rem;
}

.ser-seco {
    color: black;
}

.services-description {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.services-description h3 {
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: 1.85rem;
    margin-bottom: .8rem;
    color: var(--black);
}

.icon-services {
   height: 3.2rem;
   width: 3.2rem;
}


/*****************************
* Products section
***************************/
.products-content {
    display: flex;
    column-gap: 5rem;
}

@media (max-width: 667px) {
    .products-content {
        flex-direction: column;
        column-gap: 0px;
        row-gap: 20px;
        width: fit-content;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .products-description {
        width: 100%;
    }
    .products-writeup {
        text-align: center;
    }
}

@media (max-width: 165px) {
    .products-content {
        padding: 0px;
    }
}

@media (max-width: 145px) {
    .products-description {
        width: 110px;
    }
}

.products-description {
    flex-basis: calc(100% - 5rem / 3);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 8px 8rem var(--dark-grey);
    overflow: hidden;
}

.hij-pro {
    margin-top: 5rem;
}

.sca-sec {
    margin-top: 5rem;
}

.products-img {
    display: block;
    max-width: 100%;
    height: 50rem;
    width: 50rem;
}

.products-writeup {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--purple);
    font-weight: 900;
}

.btn-products{
    margin: auto;
}

/*******************
* Contact setup
********************/
p {
    margin: .2rem;
}

.contact-section {
    margin-top: 0 rem;
    margin-bottom: rem;
    background-color: var(--light-purple);
}


.ctc-sec {
    background-image: url(../img/WhatsApp\ Image\ 2024-01-09\ at\ 11.32.34\ AM\ \(2\).jpeg);
    background-size: cover;
    background-position: center;
    /* height : 100vh;
    margin-top: 10rem; */
}

.cnt-head {
    margin-top: 1rem;
    margin-bottom: 4rem;
    position: relative;
    top: 2rem;
}

.contact-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
}


@media (max-width: 667px) {
    .contact-content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .contact-description {
        margin-top: 20px;
    }
}

@media (max-width: 235px) {
    .laten {
        display: none;
    }
}

.contact-description {
    text-align: left;
    font-size: 22px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: var(--purple);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contact-description a {
    text-decoration: none;
    color: var(--purple);
}


.ctc-des {
    color: white;
}

.contact-head {
    color: var(--purple);
    position: relative;
    right: -200px;
}

.icon-contact {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 18px;
}

.contact-logos {
    color: var(--purple);
    display: flex;
    position: relative;
    left: -140px;
    column-gap: 15px;
    row-gap: 20px;
    top: 14px;
}

.contact-icon {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: var(--purple);
    align-items: center;
    gap: 5px;
}


 

.phn-wrt {
    color: var(--purple);
}
 
.mail-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 205px) {
    .mail-edit {
        font-size: 12px !important;
    }
}

.mail-edit {
    color: var(--purple);
    text-decoration: underline;
    font-size: 18px;
}

.clock-icon {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    align-items: center;
    gap: 8px;
}

.clc-wrt {
    text-decoration: none;
}

.map-icon {
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 5px;
}

.loc-icon {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}
 

.twitter-icon {
    display: flex;
    font-size: 18px;
    text-decoration: underline;
    margin: 10px;
}

.contact-input {
    display: flex;
    column-gap: 5rem;
}

.contact-writeup {
    font-size: 200px;
    width: 60rem;
   margin: 8rem auto;
    color: var(--purple);
    font-family: inherit;
}

/*******************
* Footer setup
********************/




.footer {
    background-color:grey;
}

.footer-content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    column-gap: 5rem;
    color: var();
} 

@media screen and (max-width: 667px) {
    .footer-content {
        flex-direction: column;
    }
    .social {
        justify-content: center !important;
        gap: 30px;
    }
    .foot-bold {
        font-size: 25px !important;
    }
}

.footer-description {
    text-align: center;
}

.services-description {
    text-transform: capitalize;
    font-size: 1.85rem;
    color: black;
}

.foot-wrt {
    display: flex;
}

.copyrightt-section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.section {
    justify-content: center;
    align-items: center;
}

.footer-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    background-color: grey;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*******************
* Carousel setup
********************/



.fa-caret-up{
    color: white;
    background: var(--purple);
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 50px;
    padding: 10px 15px;
    text-decoration: none;
}




/*********************
Media Query 
**********************/

@media screen and (max-width: 768px) {
    .ser-sec {
        width: 100%;
        background-image: url(../khimars/WhatsApp\ Image\ 2024-01-11\ at\ 9.10.53\ AM.jpeg);

    }
}

/* @media screen and (max-width: 480px) {
    . {
        width: 100%;
    }
} */
